target/
work/
.idea/

learn-jenkins.iml

# Ignore Intellij Idea project files
*.iml
*.ipr

atlassian-ide-plugin.xml
out/

# Ignore Eclipse project files
.settings
.project
.classpath

# Ignore MacOSX files
.DS_Store

# Ignore Gradle files
.gradle/
build/
gradle/